<configuration>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  <connectionStrings>
    <!--<add name="ModeloAula" connectionString="Server=tcp:house-lanister.database.windows.net,1433;Initial Catalog=DB;Persist Security Info=False;User ID=developer;Password=JQuery2017;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30; " providerName="System.Data.SqlClient" />-->
    <add name="ModeloAula" connectionString="Server=DESKTOP-MH2D0O5;Initial Catalog=DB;Persist Security Info=False;User ID=sa;Password=developer;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
